.c-page{
 transition: opacity .2s ease;
 opacity: 0;
 height: 0;
 overflow: hidden;
 position: absolute;
 top: 0;
 padding-top: calc(65px - 1em);
 margin: 1em;
 max-width: 1200px;


 .is-loaded &{ // @todo rename
  opacity: 1;
 }


  height: auto;
  overflow: auto;
  position: relative;

 @include media(">md"){
  padding-top: 0;
 }

}
